<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <style>
body {background-color: powderblue;}
</style>
    <title>Liver Disease</title>

    <br><br>
    <h1><center>LIVER DISEASE  PATIENT ANALYSIS</center></h1>

</head>
<form action="/home">

<body>
    <button><a href="home">HOME</a></button>
  <button><a href="predict">PREDICT</a></button>
<p>
    Introduction
    Liver diseases avert the normal function of the liver. Mainly due to the large amount of alcohol consumption liver disease arises.
</body>
</form>
</p>
</html>